.mainContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3f51bf;
    padding: 0 50px;
    height: 10vh;
}
.navItem{
    /* margin: 0 50px; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50vw;
}
a{
    text-decoration: none;
    color: white;
}
.navItem h1{
    color: white;
}