li{
    list-style-type: none;
}
ul{
    padding-inline-start: 0;
    
}
.itemList{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
}
.container{
    text-align: center;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    height: 100vh;
    margin-top: 50px;
  }
  
  